body{ background-color:#9c8383
 }
 


h1{ font-family:sans-serif, Times new roman; 
 font-size: 140px;
align-content: center;
text-align: center;
background-color: #CBADAC;
font-style: bold}
h2{font-family: sans-serif, times new roman;
font-size: 30px;}


h3{font-family: sans-serif, times new roman;
font-size: 20px}
table{ background-color: #CBADAD }